@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors:(
        'primary':(
            //主色
            'base':#9d4edd
        ),
        'success':(
            'base':#1dc779
        ),
        'warning':(
            'base':#ffb302
        ),
        'danger':(
            'base':#e26237
        ),
        'error':(
            'base':#cf4444
        ),
    )
)
